
@font-face {
    font-family: 'Ubuntu', sans-serif;
    src: url(https://fonts.googleapis.com/css2?family=Ubuntu&display=swap);
}

* {
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.logo {
    width: 100px;
}

.heading {
    color: black;
    font-size: 14px;
    padding: 8px 12px;
}

.cardContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 15px;
}

.projectCard {
    flex: 2;
    margin: 5px;
    float: left;
    box-shadow: 10px 10px 5px lightgray;
}

.projectCard:hover {
    border: 1px solid lightgrey;
    cursor: pointer;
}

.screenshot {
    width: 100%;
    height: auto;
}

.text {
    padding: 8px
}

/* footer styles */
footer {
    position: fixed;
    bottom: 0;
    left: 50%;
}
.footerLogo {
    width: 100px;
}

.footerContainer {
    margin-top: 40px;
    text-align: center;
}

/* Media Queries */
@media only screen and (max-width: 768px) {
    .cardContainer {
        flex-direction: column;
    }   
}